.body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}


#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  float: right;
  left: 0;
  bottom: 50px; /* Set this to the height of the footer */
  right: 300px; /* Set this to the width of the nav bar */
  background-color: #e1e1e1;
  z-index: 0;

}

#graph_window {
  position: absolute;
  opacity: .9;
  width: 100%;
  height: 20%;
  bottom: 0;
  right: 0;
  background: #656565;
  z-index: 4;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  color: white;
  display: block;
  padding-top: 10px;


}

#side_bar { 
  position: absolute;
  opacity: .9;
  width: 20%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background: #c7c7c7; 
  z-index: 2;


}

#footer {
  opacity: .4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; 
  overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
  background: #c7c7c7;
  z-index: 1;
}

#info {
  top: 10px;
  position: relative; 
  z-index: 2;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  max-width: 80%;
  width: auto\9;
  height: auto;
}



/*Advanced View */
button {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  margin-bottom: 3px;
  margin-top: 3px;
  display: block;
  font-size: 16px;
  border-radius: 10px;
  opacity: 1;
  background-color: #656565;
  color: white;
  width: 60%;
  font-size: 16px;
  left: 5px;
  border: none;
  cursor: pointer;
  margin: 0 auto;

}

button:hover {
  background-color: #add8e6
}


/* Checkboxes */

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

/* chart styling */
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }



/* end chart styling */


.drop {
  list-style: none;
  font-weight: normal;
  padding: none;

}

.program {
    font-weight: bold;
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding: none;
    list-style-position: outside;

}

/* Advanced view button */
.dropbtn {
    background-color: #656565;
    color: white;
    width: 60%;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #add8e6;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin: auto;
    width: 50%;
    display: none;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    min-width: 20%;
    color: #add8e6;
    padding: 5%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}



