.body {
	font: 12 px Arial;
}


#map {
	position: absolute;
	top: 0px;
	left: 0px;
	float: right;
	opacity: 1;
	background-color: grey;
	width: 100%;
	height: 600px;
	z-index: 1;

}

#side_bar {
	background-color: green;
	opacity: .3;
	width: 300px;
	height: 600px;
	position: absolute; 
	top: 0px;
	right: 0px;
	z-index: 3;
}

#footer{
	background-color: lavender;
	width: 100%;
	height: 25px;
	position: absolute;
	top: 600px;
	left: 0px;
}